@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :root {
    --background: 241 53% 20%;
    --foreground: 0 0% 100%;

    --muted: 245 50% 21.9%;
    --muted-foreground: 245 10% 57.3%;

    --popover: 245 45% 9.49%;
    --popover-foreground: 245 10% 98.65%;

    --card: 245 45% 9.49%;
    --card-foreground: 245 10% 98.65%;

    --border: 245 50% 21.9%;
    --input: 245 50% 21.9%;

    --primary: 235 93% 67%;
    --primary-foreground: 0 0% 100%;

    --secondary: 226 100% 81%;
    --secondary-foreground: 0 0% 100%;

    --accent: 245 50% 21.9%;
    --accent-foreground: 245 10% 98.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 245 10% 98.65%;

    --ring: 245 100% 73%;
    --radius: 0.5rem;
  }
}
